@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Employee> signInManager

<ul class="navbar-nav">
    @if(signInManager.IsSignedIn(User)){
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle">
                @User.Identity!.Name!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Logout
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a asp-action="ManageClients" asp-controller="Home">Manage Clients</a>
        </li>
    }else{
        <ul>
            <li class="nav-item">
                <a class="nav-link text dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        </ul>
    }
</ul>