@using BankMvc.ViewModels;
@model RegisterVm
@{
    ViewData["Title"] = "Register";
}

<h2>Put your credentials:</h2>
<div class="box">
    <form asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-1">
            <label asp-for="Name" class="control-label">Name</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="mb-1">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="text">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="mb-1">
            <label for="Address">Address</label>
            <textarea asp-for="Address" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Address"></span>
        </div>
        <div class="mb-1">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-1">
            <label asp-for="ConfirmPassword">Confirm the Password</label>
            <input asp-for="ConfirmPassword" type="password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-8">
                <a asp-action="Login">Alredy have an account?</a>
            </div>
            <div class="col-4">
                <input type="submit" value="Register" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>