@model BankMvc.Models.AccountClient
@{
    ViewData["Title"] = "Create new Account";
}

<h1>Create a new Client Account</h1>

<div class="box">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Premium" class="control-label"></label>
            <input asp-for="Premium" type="checkbox" class="form-control">
            <span asp-validation-for="Holder" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Number" class="control-label"></label>
            <input asp-for="Number" type="text">
            <span asp-validation-for="Number"></span>
        </div>
        <div class="form-group">
            <label asp-for="Holder"></label>
            <input asp-for="Holder" type="text">
        </div>
        <div class="form-group">
            <label asp-for="Id"></label>
            <input asp-for="Id" type="number">
            <span asp-asp-validation-for="Id"></span>
        </div>
        <input value="Create" type="submit" class="btn btn-primary">
    </form>
</div>